.navlinks {
    background-color: var(--background2);
    padding: 10px;
    margin: 5px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.about{
    width: min(90%,600px);
    justify-content: center;
    margin: 10px auto 10px auto;
}

.homePageHeader{
    /* background-color: white; */
    color: black;
    /* background: none; */
}

.homePageHeader > h1{
    font-size: 25pt;
}

.homePageHeader > p{
    margin: 0;
    padding: 0;
}