@keyframes slideDownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* .certificate_card{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: min(500px,100%);
    flex-shrink: 0;
    animation: slideDownFadeIn 0.25s linear forwards;
} */

.invalid_certificate_card{
  color: grey;
}

.certificate_list{
    composes: card_list from "./commons.module.css";
}