.approvers{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap:5px;
    flex-wrap: wrap;
    justify-content:center;
}

.certificateLayout{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    max-width: 1000px;
    /* width:800px; */
    background-color: blue;
    background: radial-gradient(circle,rgb(67, 148, 110), rgb(68, 103, 113));
    /* background: radial-gradient(circle at top left,rgb(67, 148, 110),rgb(87, 131, 144)); */
    /* background: linear-gradient(green, greenyellow); */
    padding: 20px;
    gap: 20px;
}

.metaData{
    flex-grow: 1;
    flex: 1;
    padding: 20px;
    background: white;
    font-size: 10pt;
}

.mainData{
    flex-grow: 1;
    flex: 3;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    /* width: 500px; */
}

.invalid_overlay{
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    padding: 5px;
    font-weight: bold;

    position: absolute;
    left: 0;
    bottom:0;
    top: 0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invalid_overlay > p{
    background-color: rgb(255, 0, 0);
    width: 100%;
    padding: 10px;
}

@media (min-width:700px) {
    .certificateLayout{
        flex-direction: row;
    }
}