.pagelayout {
    display: grid;
    /*Give the navbar exactly the space its content needs, and give all remaining space to .content.*/
    grid-template-columns: 1fr auto; 
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    align-items: stretch; /* items fill the grid */
    gap: 10px;
    padding: 10px;
    height: 100dvh; /*100% dynamic view height*/
    box-sizing: border-box;  /* include padding and borders in height */
}

.navbar {
    /* flex: 0 0 auto; */
    display: flex;
    flex-direction: column;
    row-gap: 1pt;
    min-width: 200px;
    background: linear-gradient(rgb(200, 228, 223), rgb(130, 155, 173));
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}

.navbarMobile {
    composes: navbar;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.navlink {
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}
.navlink:hover {
    background-color: rgba(256, 256, 256, 0.5);
}
.active_navlink {
    background-color: rgb(75, 75, 75);
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}

.content {
    /* flex: 1 0 0; */
    /* overflow: auto; */
    position: relative; /* positioning this so that absolute positioning can be used inside */
    /* display: flex;
    flex-direction: column; */
    max-height: 100dvh;
    /* align-items: stretch; */
}

.toggleNav{
    composes: toggle from "./root_navigation.module.css";
    z-index: 20;
}
