@keyframes slideDownFadeOut {
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}

@keyframes slideUpFadeIn {
  from {
    opacity: 0%;
    transform: translateY(100px);
  }
}

.slideIn {
  animation: slideUpFadeIn 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.slideOut {
  animation: slideDownFadeOut 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.flash {
  position: fixed;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom:0;
  /* background-color: var(--accent-background); */
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);

  /* color: var(--accent-color); */
  padding: 10px;
  z-index: 30;
  /* animation: slideDownFadeIn 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards; */
  /* --accent-background-alias: var(--accent-background);
  --accent-background-hover-alias: var(--accent-background-hover);
  --accent-color-alias: var(--accent-color); */
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: end;
}

.flash * {
  /* --accent-background: var(--accent-background-hover-alias);
  --accent-background-hover: var(--accent-background-alias);
  --accent-color: var(--accent-color); */
  /* --accent-background: rgb(210, 210, 210);
  --accent-background-hover: beige;
  --accent-color: black; */
}

.message {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  /* justify-content: center; */
  background-color: rgb(220, 220, 220);
  column-gap: 10px;
  padding: 10px;
  border-radius: 10px;
}