.loading_screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: rgba(0,0,0,0.8); */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 40;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.267);
  animation: l1 1s infinite;
}

@keyframes l1 {
  100% {
    box-shadow: 0 0 0 30px #00000000
  }
}