.badge {
  transform-origin: center;
  transform-box: fill-box;
  animation: loadingLogo 5s linear infinite;
}

.logo {
  /* perspective: 100px; */
  animation: flipLogo 1s ease-in-out;
}

@keyframes loadingLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes flipLogo {
  from{
    transform: rotateY(180deg);
  }
  to{
    transform: rotateY(0deg);
  }
}