.password_div{
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-shrink: 0;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 1px;
    background-color: whitesmoke;
}

.password_box{
    flex-grow: 1;
    border: none;
}

.visibility_button{
    flex-grow: 0;
    border: none;
    background: none;
    color: black;
    padding: 5px;
}

.visibility_button:hover{
    background-color: wheat;
}