html{
  text-align: center;
  --background2: rgb(70, 100, 120);
  --accent-color: white;
  --accent-background: rgb(70, 100, 120);
  --accent-background-hover: rgb(111, 141, 150);
  font-family: "Montserrat", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12pt;
  /* Smooth scroll when top button is clicked on manual page. Causing double click issue. */
  /* scroll-behavior: smooth; */
}

body{
  margin: 0; 
}

@font-face {
  font-family: "Libertinus Mono";
  src: url("./assets/Libertinus_Mono/LibertinusMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat/Montserrat_VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}

button{
  background-color: var(--accent-background);
  padding: 5px;
  color: var(--accent-color);
  border-radius: 5px;
  font-family: monospace /*'Libertinus Mono', monospace*/;
  font-size: inherit;
  border: none/*2px solid white*/;
}

button:hover{
  background-color: var(--accent-background-hover);
}

input{
  border-radius: 5px;
  border: 2px solid grey;
  background-color: whitesmoke;
  padding: 5px;
  font-family: monospace /*'Libertinus Mono', monospace*/;
  font-size: inherit;
}

input[type='submit']{
  background-color: var(--accent-background);
  color: var(--accent-color);
  border: none;
}

input[type='submit']:hover{
  background-color: var(--accent-background-hover);
}

input:focus{
  border: 2px solid black;
  outline: none;
}

h1{
  font-size: 24pt;
  font-weight: normal;
  margin-top:10px;
  margin-bottom:10px;
}

h2{
  font-size: 16pt;
  font-weight: normal;
  margin-top:5px;
  margin-bottom:5px;
}

header{
    /* box-shadow: 0px 0px 15px rgb(150, 150, 150); */
    padding: 15px;
    margin-bottom: 15px;
    /* background-color: var(--background2); */
    /* background: radial-gradient(circle, var(--accent-background-hover), black); */
    background: linear-gradient(180deg, rgb(56, 83, 92), var(--background2));
    color: white;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

header > h1{
  font-weight: bold;
  font-size: 20pt;
  padding: 0;
  margin: 0;
}
